### Importing Libraries

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading Dataset

In [4]:
df = pd.read_csv("D:/Ankit-KCode/Human Stress Detection and Prediction/Human Stress Factors Dataset.csv")
df.head(10)

,Snoring R,Respiration R,Temp,Limb M,Blood Oxy,Eye M,Sleep H,Heart R,Stress L
0,93.80,25.680,91.840,16.600,89.840,99.60,1.840,74.20,3
1,91.64,25.104,91.552,15.880,89.552,98.88,1.552,72.76,3
2,60.00,20.000,96.000,10.000,95.000,85.00,7.000,60.00,1
3,85.76,23.536,90.768,13.920,88.768,96.92,0.768,68.84,3
4,48.12,17.248,97.872,6.496,96.248,72.48,8.248,53.12,0
5,56.88,19.376,95.376,9.376,94.064,83.44,6.376,58.44,1
6,47.00,16.800,97.200,5.600,95.800,68.00,7.800,52.00,0
7,50.00,18.000,99.000,8.000,97.000,80.00,9.000,55.00,0
8,45.28,16.112,96.168,4.224,95.112,61.12,7.112,50.28,0
9,55.52,19.104,95.104,9.104,93.656,82.76,6.104,57.76,1

In [5]:
df.shape

(630, 9)

### Data Preprocessing

##### Basic Insights Of Dataset

In [7]:
# Data Type info of Colums
df.dtypes

Snoring R        float64
Respiration R    float64
Temp             float64
Limb M           float64
Blood Oxy        float64
Eye M            float64
Sleep H          float64
Heart R          float64
Stress L           int64
dtype: object

In [9]:
# Statistical Summary of Dataset
df.describe()

,Snoring R,Respiration R,Temp,Limb M,Blood Oxy,Eye M,Sleep H,Heart R,Stress L
count,630.000000,630.000000,630.00000,630.000000,630.000000,630.000000,630.000000,630.000000,630.000000
mean,71.600000,21.800000,92.80000,11.700000,90.900000,88.500000,3.700000,64.500000,2.000000
std,19.372833,3.966111,3.52969,4.299629,3.902483,11.893747,3.054572,9.915277,1.415337
min,45.000000,16.000000,85.00000,4.000000,82.000000,60.000000,0.000000,50.000000,0.000000
25%,52.500000,18.500000,90.50000,8.500000,88.500000,81.250000,0.500000,56.250000,1.000000
50%,70.000000,21.000000,93.00000,11.000000,91.000000,90.000000,3.500000,62.500000,2.000000
75%,91.250000,25.000000,95.50000,15.750000,94.250000,98.750000,6.500000,72.500000,3.000000
max,100.000000,30.000000,99.00000,19.000000,97.000000,105.000000,9.000000,85.000000,4.000000

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 630 entries, 0 to 629
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Snoring R      630 non-null    float64
 1   Respiration R  630 non-null    float64
 2   Temp           630 non-null    float64
 3   Limb M         630 non-null    float64
 4   Blood Oxy      630 non-null    float64
 5   Eye M          630 non-null    float64
 6   Sleep H        630 non-null    float64
 7   Heart R        630 non-null    float64
 8   Stress L       630 non-null    int64
dtypes: float64(8), int64(1)
memory usage: 44.4 KB

<h8>There is no Null Value.</h8>

In [28]:
# Checking Distribution of Target Variable
df['Stress L'].value_counts()

Stress L
3    126
1    126
0    126
2    126
4    126
Name: count, dtype: int64